<div id="man-doing-payment">
  <div id="illustrator-friend">
      <div class="friend-head">
          <div class="eyebrows"></div>
          <div class="eyes"></div>
          <div class="moustache"></div>
      </div>
      <div class="clothes">
        <div class="hands"></div>
      </div>
  </div>
  <div id="illustrator-scene">
      <div class="post">
          <div class="lamp"></div>
          <div class="effect-lamp"></div>
      </div>
      <div class="grass-front g-left"></div>
      <div class="grass-back g-left"></div>
      <div class="grass-front g-right"></div>
      <div class="grass-back g-right"></div>
      <div class="chair"></div>
  </div>
  <div id="illustrator-credit-card">
    <div class="credit-card"></div>
    <div class="currency"></div>
  </div>
</div>
