@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&family=Roboto:wght@400;600&display=swap");
@import '~normalize.css';

body {
    font-family: "Montserrat", sans-serif;
}

input:-webkit-autofill, input:-webkit-autofill:active, input:-webkit-autofill:focus, input:-webkit-autofill:hover {
  -webkit-box-shadow: inset 0 0 0 30px #f2f2f2!important;
  -webkit-text-fill-color: #333!important;
}
